<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device", initial-scale="1.0">
    <title>Home | <%= title %></title>
    <%- include('../partials/header.ejs')%>
</head>
<body>
    <%- include('../partials/nav.ejs')%>
<div class="blogs content"> <h2>All Blogs</h2>
<% if (blogs.length>0) { %>
<% blogs.forEach(blog => {%>
    <a class="single" href="/blogs/<%= blog._id%>"> 
<h3 class="title"><%= blog.title%> </h3>
    
<p class="snippet"><%= blog.snippet %></p>
    </a>    

<% }) %>
<% } else{ %>
    <p>There is no blog available.</p>
    <%}%>
</div>
</div>
</body>

    <%- include('../partials/footer.ejs')%>


</html>